/* modal.component.css */
.modal {
  padding: 10px;
  min-width: 300px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.name {
  display: flex;
  font-family: sans-serif;
  font-size: 16px;
}

.select-icon {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-x: auto;
  height: 200px;
  width: 300px;
  padding: 10px;
  border: 3px solid #282828;
  justify-content: center;
  margin: 10px auto;
}
  
  h2 {
    text-align: center;
    margin: 0;
    padding: 5px;
  }
  
  input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 0 10px;
    display: block;
    margin: 10px auto;
  }
  
  button {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  button.delete {
    background-color: #ff6b6b;
  }
  
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
  }
  
  .icon-item {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .icon-item-img {
    width: 50px;
    height: 50px;
  }
  
  .selected {
    background-color: #333;
    color: #fff;
  }
  .active-button{
    background-color: #333;
    color: #fff;

  }
  .delete-button {
    background-color: #ff6b6b;
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }