<!-- modal.component.html -->
<div class="modal">
  <div [class.name]="!isAddMode">
    <h2 *ngIf="isAddMode">Add Category</h2>
    <h2 *ngIf="!isAddMode" >Edit/Delete Category</h2>
    <button *ngIf="!isAddMode" (click)="deleteThisCategory()" class="delete-button">Delete</button>
  </div>
    <input  [(ngModel)]="categoryName" placeholder="Category Name" [value]="name" >
    <!-- Другие поля и кнопки для выбора иконок и действий -->
  <div class="select-icon">
    <div class="icon-item" *ngFor="let icon of icons" (click)="selectIcon(icon)" [ngClass]="{ 'selected': icon === selectedIcon }">
        <img class="icon-item-img" [src]="getIconPath(icon)" unselectable="on" alt="" >
      </div>
  </div>
    <div class="modal-actions">
      <button class="active-button" *ngIf="isAddMode" (click)="addCategoryS()">Add</button>
      <button class="active-button" *ngIf="!isAddMode" (click)="editCategory()">Edit</button>
      <button (click)="onCloseModal()">Cancel</button>
    </div>
  </div>
   