<!-- тут должны отображаться все категории, и категории добавления доходов и категории расхода в двух разных блоках
в этом компоненте должна быть реализована возможность добалвять и удалять категории, в каждом из блоков (их тут будет два один доходные категории второй расходные)
при создании любой категории можно будет указать только Икноку, и название
при нажатии на любую из них откроется компонент для редактирования, где можно будет изменть имея, иконку, или удалять категорию
в случае удаления должно удаляться все, включая все данные по ней. -->

  <div class="category-managment">
    <h1 style="text-align: center;">Category Managment</h1>
    <h2>Expens categories <button class="add-category" (click)="openAddCategory('expense')">add</button>
</h2>
    <div class="categories-list" >
      <div class="category-item" *ngFor="let item of expenseCategories;" [title]="item.name" (click)="selectCategory(item, 'expense')">
        <img class="category-item-img" src={{item.icon}} unselectable="on"alt="">
        <span class="name" unselectable="on">{{item.name}}</span>
      </div>
      
  </div>
  <h2>Income categories <button class="add-category" (click)="openAddCategory('income'); ">add</button>
</h2>
  <div class="categories-list" >
      <div class="category-item"  *ngFor="let item of incomeCategories;" [title]="item.name" (click)="selectCategory(item, 'income')">
        <img class="category-item-img" src={{item.icon}} unselectable="on"alt="">
        <span class="name" unselectable="on">{{item.name}}</span>
      </div>
  </div>
  <app-edit-category
  *ngIf="isEditCategoryOpen"
  (closeModal)="closeEditCategory()"
  [selectedCategoryService]="selectedCategoryService"
  [name]="name"
  [icon]="icon"
  [isAddMode]="isAddMode"
  [categories]="expenseCategories"
  [selectedCategory]="selectedCategory"
></app-edit-category>

</div> 

    <!-- нг иф - проверяет булиан свойство и если тру рендерит обьект
    клосеМодал - функция из родительского компонента, закрывает это окно передается сюда чтоб дальше работать в ТС
    селектед категори сервис тоже передается, и присваивается такой же переменной с таким же названием -->