<!-- в обычной версии сайта это меню будет слева и всегда открыто,
а в мобильной будет кнопка вверху в компоненте топ-меню которая будет делать выпадающим это меню -->

<div class="left-menu" [ngClass]="{'mobile-open': isMobileMenuOpen}">
    <ul>
      <li><a (click)="toggleMobileMenu()" routerLink="/total-expense">Total Expense</a></li>
      <li><a (click)="toggleMobileMenu()" routerLink="/categories">Categories</a></li>
      <li><a (click)="toggleMobileMenu()" routerLink="/recent-transactions">Transactions</a></li>
    </ul>
  </div>
  
