<!-- src/app/main-content/total-expens/total-expens.component.html -->
<div class="total-expense">
      <div class="dashboard">
        <div class="main-circle-content">
          <div class="month-switch">
            <button (click)="switchMonth(-1)">Назад</button>             <!--  -->
            <span> {{ currentMounth }}</span>   <!--   -->
            <button (click)="switchMonth(1)">Вперед</button> <!-- (click)="switchMonth(1)"-->
          </div>
          <div class="category-container">
            <div class="category-grid" >
              <div class="category-item" *ngFor="let item of expenseCategories;" [title]="item.amount">
                <img class="category-item-img" src={{item.icon}} unselectable="on"alt="">
                <span class="percentage" unselectable="on"> {{ item.amount }}</span>
            </div>
            <div class="big-item"><div class="big-item-inside">Reserved Item</div></div>
          </div>
          <div class="balance">
            <button class="balance-button">Текущий баланс: {{balance}}</button>
          </div>
          <div class="buttons">
            <!-- Кнопки расхода и дохода -->
            <button class="expense-button" (click)="openModal('expense')">Расход</button>
            <button class="income-button" (click)="openModal('income')">Доход</button>
          </div>
        </div>
      </div>
      <app-expenses *ngIf="isModalOpen" [categoryType]="categoryType" (closeModalEvent)="closeModal()" [parentComponent]="this"></app-expenses>
    </div>
<!-- [parentComponent]="this" -->
<!-- ((item.amount / totalAmount) * 100).toFixed(2) -->