<!-- 
компонент отвечает за кнопку входящих денег, должен отвечать только за ввод положительной суммы которую плюсует к балансу и тоталу
внутри калькулятор в строку (22*3-4+78 ввод) 
но для начала внутри просто инпут (со значением только положительным) и кнопка добавить - или отмена и обязателен выбор категории "зп процент контракт и т.д."
в случае отрицательной суммы отменить ввод ничего не менять подсветить инпут красным на 0.5сек, а при утвердительном сбросить все и закрыть окно
при кнопке добавить или отмена - закрываем окно. -->

<p>income works!</p>
